
<div class="container">
    <div class="row">
        <div id="success_notice" style="text-align: left;"></div>
        <div class="col-md-6">
            <div class="todolist not-done">
             <h1>Todos</h1>
                <!-- <input type="text" class="form-control add-todo" placeholder="Add todo"> -->
                <textarea class="form-control add-todo" placeholder="Add todo"></textarea>
                <input type="text" class="form-control due-date" placeholder="Due Date">
                <br>
                <button id="save_data" class="btn btn-success">Save</button>
                <!-- <button id="checkAll" class="btn btn-success">Mark all as done</button> -->
                
                <hr>
                <input type="text" id="last_id" value="<%= @task_last_id.id %>" hidden>
                <ul id="sortable" class="list-unstyled" style="text-align: left;">
                    <% @tasks.each do |task| %>
                        <li class="ui-state-default">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="<%= task.id %>" />
                                    <%= task.todo %>
                                    <span class="task-date" title="Due Date">
                                        <%= task.expire %>
                                    </span>
                                </label>
                            </div>
                        </li>
                    <% end %>
                </ul>
                <div class="todo-footer">
                    <strong><span class="count-todos"></span></strong> Items Left
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="todolist">
             <h1>Done</h1>
                <ul id="done-items" class="list-unstyled" style="text-align: left;">
                    <% @task_finish.each do |finish| %>
                        <li>
                            <%= finish.todo %> <span class="task-date" data-toggle="tooltip" title="Due Date"><%= finish.expire %></span>

                            <button class="remove-item btn btn-danger btn-xs pull-right" data-toggle="tooltip" title="Done" value="<%= finish.id %>">

                                <span class="glyphicon glyphicon-remove"></span>

                            </button>
                        </li>
                    <% end %>
                    
                </ul>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $('.due-date').datetimepicker();
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
