<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  </head>

  <body>
    <div class="container-fluid">
        <% if controller.controller_name == "tasks" ||  controller.controller_name == "conversations" %>
            <div class="row">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="<%= root_url %>">Home</a>
                            <a class="navbar-brand" href="<%= tasks_path %>">Schedule</a>
                            <a class="navbar-brand" href="<%= conversations_path %>">Conversation</a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="<%= edit_user_registration_path %>">
                                    <%= image_tag avatar_url(current_user), style: "width: 23px; border-radius: 25px;" %>
                                    <%= current_user.full_name %>
                                </a>
                            </li>
                            <li> 
                                <%= link_to "<span class='glyphicon glyphicon-log-in'></span> Logout".html_safe, destroy_user_session_path, method: :delete %>      
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        <% else %>
            <div class="row">
                <div class="col-md-3 col-sm-4 sidebar3 sidebar2">
                    <% if user_signed_in? %>
                    <div class="logo">
                        <%= image_tag avatar_url(current_user) %>
                    </div>
                    <% end %>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 sidebar3">
                <% if user_signed_in? %>
                    <div class="left-navigation">
                        <ul>
                            <li>
                                <div class="name">
                                    <%= current_user.full_name %>
                                </div>
                            </li>

                            <li><a href="<%= root_url %>">Home</a></li>

                            <li>
                                <a href="<%= tasks_path %>">Schedule</a> 
                            </li>

                            <li>
                                <a href="<%= conversations_path %>">Conversations</a> 
                            </li>

                            <li>
                                <a href="<%= edit_user_registration_path %>">Update Profile</a>
                            </li>
                            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                        </ul>
                    </div>
                <% end %>
            </div>
        <% end %>

        <div class="<% if controller.controller_name == 'tasks' ||  controller.controller_name == "conversations" %>col-md-12<% else %>col-md-8 col-sm-8<% end %> main-content">
            <% if notice %>
                <p class="notice"><%= notice %></p>
            <% end %>
            <% if alert %>
                <p class="alert"><%= alert %></p>
            <% end %>
              <%= yield %>
        </div>

    </div>
  </body>
</html>

<script>
    window.onload=function(){

$('.dropdown').click(function(){
$(this).siblings(".submenu").toggleClass('hide');


});
}
</script>